<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body class="hold-transition login-page">
    <%- body %> <%- include('./partials/script.ejs') %>
  </body>
</html>
